.containerfull{
    float: left;
    width: 100%;
    margin: 30px 0px;
}
.containerfull img{
    width: 100%;
}
.chinh-tt {
    width: 1200px;
    margin: 0 auto;
}
.nutmua {
    color: #993300;
    font-size: 13pt;
    font-weight: bold;
    width: 100%;
    border: 1px #993300 dotted;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #FFFFFF;
}
.containerfull h2 {
    font-size: 18pt;
    padding-left: 10px;
    color: #444444;
    border-left: 4px #FF9900 solid;
}
.cot9 {
    float: left;
    width: 70%;
}

.cot3 {
    float: left;
    width: 30%;
}
/* FORM */

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.ttdathang{
    float: left;
    width: 90%;
    margin-bottom: 30px;
}
.boxcart{
    border:1px #ccc solid;
    padding: 10px;
    margin-bottom: 20px;
}
.bggray{
    background-color: #EEE;
}